footer.footer
  .content-wrapp.footerWrapp
    a.logo(href="") BestNewsMedia
    .social
      a.link(href="#" title="tw" target="_blank")
        .icon.icon-tw
      a.link(href="#" title="fb" target="_blank")
        .icon.icon-fb
      a.link(href="#" title="vk" target="_blank")
        .icon.icon-vk
      a.link(href="#" title="gp" target="_blank")
        .icon.icon-gp
      a.link(href="#" title="ok" target="_blank")
        .icon.icon-ok

    .links
      a(href="#" title="О проекте") О проекте
      a(href="#" title="Команда") Команда
      a(href="#" title="Реклама") Реклама
