header.header
  .flexBlock
    a.cd-nav-trigger#open-button(href="#menuOpen") Menu
      span
    a#logo(href="#" title="BestNewsMedia") BestNewsMedia
  .user
    .avatar
      img(src="/images/upload/889422_original.jpg", alt="userName")
    .status.active
    .name
      span
      span Константин Евстафьев