header.header
  .flexBlock
    a.cd-nav-trigger#open-button(href="#menuOpen") Menu
      span
    a#logo(href="#" title="BNP") BNP
  .user
    .avatar
      img(src="images/avatar.png", alt="userName")
    .status.active