mixin menu
  .menu-wrap
    nav.menu
      .icon-list
        a(href='#')
          i.fa.fa-fw.fa-star-o
          span Favorites
        a(href='#')
          i.fa.fa-fw.fa-bell-o
          span Alerts
        a(href='#')
          i.fa.fa-fw.fa-envelope-o
          span Messages
        a(href='#')
          i.fa.fa-fw.fa-comment-o
          span Comments
        a(href='#')
          i.fa.fa-fw.fa-bar-chart-o
          span Analytics
        a(href='#')
          i.fa.fa-fw.fa-newspaper-o
          span Reading List
    #morph-shape.morph-shape(data-morph-open='M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z')
      svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 100 800', preserveaspectratio='none')
        path(d='M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z')

