mixin menu
  .menu-wrap
    nav.menu
      .icon-list
        a(href='#')
          span Стартапы
        a(href='#')
          span Игры
        a(href='#')
          span Вакансии
        a(href='#')
          span Инвестиции
        span
          input#search(type="search" placeholder="Поиск")