mixin photoWrapp
  .wrappPhoto.content-wrapp
    .content-wrapp
      .decription
        h1 В России наша миссия выполнена
        .info
          .userInfo
            .userData 13 апр 2015
            span=" · "
            .userName Никита Лихачев
          .userComment
            .icon.icon-comments
            span  28
          .userView
            .icon.icon-view
            span  1 231
        p  Спустя год после увольнения издание LIVE Plus опубликовало первое русскоязычное интервью с Дуровым с момента увольнения, расспросив его об уроках «ВКонтакте» и планах на будущее.
        .socialButton.flexBlock
          .social
            a.link(href="#" title="tw" target="_blank")
              .icon.icon-tw
              span Поделиться
              .followers 19
          .social
            a.link(href="#" title="fb" target="_blank")
              .icon.icon-fb
              span Поделиться
              .followers 21
          .social
            a.link(href="#" title="vk" target="_blank")
              .icon.icon-vk
              span Поделиться
              .followers 161
