mixin photoWrapp
  .wrappPhoto
    .content-wrapp
      .decription
        h1 В России наша миссия выполнена
        .info
          .userInfo
            .userData 13 апр 2015
            span=" · "
            .userName Никита Лихачев
          .userComment
            i.icon-bnp.icon-comment
              svg(viewBox="0 0 28 26" width="28" height="26")
                use(xlink:href="/images/icons/sprite.svg#icon-comments")
              span  28
          .userView
            i.icon-bnp.icon-comment
              svg(viewBox="0 0 29 17" width="29" height="17")
                use(xlink:href="/images/icons/sprite.svg#icon-view")
            span  1 231
        p  Спустя год после увольнения издание LIVE Plus опубликовало первое русскоязычное интервью с Дуровым с момента увольнения, расспросив его об уроках «ВКонтакте» и планах на будущее.
