mixin post
  .posts
    .post
      .postColor
        .avatar.flexBlock
          img(src="/images/upload/photo1.png", alt="Павел Дуров")
        h4.title Павел Дуров
        .subtitle основатель Telegram
        .postContent
          .content-wrapp
            p.brendText Те 12% акций «ВКонтакте» всё равно не позволяли мне влиять на совет директоров компании, зато средства, вырученные с их продажи, позволили избавить Telegram от необходимости привлекать инвесторов. В результате удалось не допустить той ошибки, которая в конечном счёте привела к поглощению «ВКонтакте».
      .content-wrapp
        p
          | Фокусируйтесь на универсальных областях знаний, которые не зависят от места и времени, в котором вы родились. Логика, математика, законы гармонии и искусства — эти знания вам пригодятся в любом случае.
        p
          | Учите английский. Владение английским языком расширяет потенциальное применение ваших талантов в 50 раз —
          | с российского рынка на глобальный.
    .post
      .postColor
        .avatar.flexBlock
          img(src="/images/upload/photo1.png", alt="Павел Дуров")
        h4.title Павел Дуров
        .subtitle основатель Telegram
        .postContent
          .content-wrapp
            p.brendText
              | Прогноз благоприятный. Технологических, интерфейсных и идеологических решений, заложенных в эту социальную сеть, хватит на много лет вперёд. Текущая команда имеет все шансы эти идеи и решения сохранить
              | и развить. Главное, чтобы после поглощения ценности и подходы
              | «ВКонтакте» распространялись на Mail.Ru Group, а не наоборот.
      .content-wrapp
        p
          | Возвращаться в Россию «для постоянного пребывания» Дуров по-прежнему не планирует, однако прогнозирует возможный экономический успех страны:
          | «Думаю, в будущем у России есть все шансы стать идеальной платформой для бизнеса на фоне скатывающейся в социализм Европы. Предпосылки для этого есть».
        p
          | Говоря о Telegram, Дуров по-прежнему оперировал статистикой декабря 2014 года (более 50 миллионов активных пользователей). По его словам, в новой компании ему удаётся больше времени уделять продукту и общению на иностранных языках.
        p
          | Анонсировав конкурс для разработчиков под Android с призовым фондом от 1 миллиона рублей, Дуров дал несколько советов школьникам и студентам.
    .post
      .postColor
        .avatar.flexBlock
          img(src="/images/upload/photo1.png", alt="Павел Дуров")
        h4.title Павел Дуров
        .subtitle основатель Telegram
        .postContent
          .content-wrapp
            p.brendText
              | Фокусируйтесь на универсальных областях знаний, которые не зависят от места и времени, в котором вы родились. Логика, математика, законы гармонии и искусства — эти знания вам пригодятся в любом случае.
            p.brendText
              | Учите английский. Владение английским языком расширяет потенциальное применение ваших талантов в 50 раз —
              | с российского рынка на глобальный.
