mixin share
  #share
    a.share.flexBlock
      i.icon-bnp.icon-share
        svg(viewBox="0 0 40 45" width="29" height="17")
          use(xlink:href="/images/icons/sprite.svg#icon-sh")

    .listSocial
      a.flexBlock.icon-twitter
        i.icon-bnp
          svg(viewBox="0 0 46 37" width="46" height="37")
            use(xlink:href="/images/icons/sprite.svg#icon-tw")
      a.flexBlock.icon-facebook
        i.icon-bnp
          svg(viewBox="0 0 39 39" width="29" height="17")
            use(xlink:href="/images/icons/sprite.svg#icon-fb")
      a.flexBlock.icon-vk
        i.icon-bnp
          svg(viewBox="0 0 42 42" width="29" height="17")
            use(xlink:href="/images/icons/sprite.svg#icon-vk")

