mixin share
  .social
    a.share.flexBlock
      i.icon-bnp.icon-share
        svg(viewBox="0 0 40 45" width="29" height="17")
          use(xlink:href="/images/icons/sprite.svg#icon-sh")

      ul
        li
          i.icon-bnp.icon-share
            svg(viewBox="0 0 40 45" width="29" height="17")
              use(xlink:href="/images/icons/sprite.svg#icon-sh")

