mixin share
  #share
    a.share.flexBlock
      .icon.icon-share
    .listSocial
      a.flexBlock.icon-twitter
        .icon.icon-tw

      a.flexBlock.icon-facebook
        .icon.icon-fb

      a.flexBlock.icon-vk
        .icon.icon-vk
