mixin slider
  .wrappSlider
    .title
      hr.brendLineHr
      h2 Лучшие материалы
      hr.brendLineHr
    #sliderBestMaterials
      .slide
        .imgWrapp
          img(src="images/upload/66da0ab93a67-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/254fe67256d8-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/5763e108f43e-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/6120b68c7aff-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/ad0388d42bed-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/ee860f9ab51e-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/ad0388d42bed-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
      .slide
        .imgWrapp
          img(src="images/upload/ee860f9ab51e-normal.jpg", alt="")
        .text
          h5.titleSlide Флешмоб: День голого садовода
          p.description В первые выходные мая тысячи добровольцев по всему миру поработали в саду обнажёнными, чтобы почувствовать единение с природой
    .loadWrapp
      hr.brendLineHr
      #loadMore Показать еще
      hr.brendLineHr

