.footer
  background-color: #453c25
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2)
  width: 100%
  position: relative
  .social
    width: 100%
    display: flex
    height: rem-calc(128)
    align-content: center
    text-align: center
  #icon-tw
    fill: red
  .link
    display: flex
    justify-content: center
    align-items: center
    width: 20%
    height: 100%
    background-color: #00b7ec
    box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.1)
    svg
        width: rem-calc(46)
        height: rem-calc(37)
    &:nth-child(2)
      background-color: #304591
      svg
        width: rem-calc(39)
        height: rem-calc(39)
    &:nth-child(3)
      background-color: #527397
      svg
        width: rem-calc(42)
        height: rem-calc(42)
    &:nth-child(4)
      background-color: #d94435
    &:nth-child(5)
      background-color: #f2812e
      svg
        width: rem-calc(26)
        height: rem-calc(46)

  .links
    padding-left: rem-calc(31)
    background-color: #333
    a
      color: rgba(255, 255, 255, 0.6)
      font-size: rem-calc(40)
      line-height: rem-calc(24)
      text-decoration: none
      font-weight: 300
      display: block
      padding: rem-calc(45px 0 16px)
      border-bottom: solid 1px rgba(255, 255, 255, 0.15)
      &:last-child
        border: none
        padding-bottom: rem-calc(39)



