extends templates/template
block title
    title Page Index
block content
  .container
    +menu
    .content
      +photoWrapp
      .content-wrapp
          p
            | В январе 2014 года стало известно, что Дуров продал всю свою долю во
            | «ВКонтакте» (12%) гендиректору
            | «МегаФона» Ивану Таврину. Позднее тот перепродал её Mail.Ru Group, позволив холдингу консолидировать 100% социальной сети.
          p
            | В интервью LIVE Plus Дуров заявил, что не жалеет о продаже доли. По его словам, полученные от её продажи деньги (по оценке
            | «Ведомостей», 360-480 миллионов долларов) позволили Telegram стать независимым и использовать другую модель монетизации. Дуров владеет 100% Telegram.
          .social
            a.share.flexBlock
              i.icon-bnp.icon-share
                svg(viewBox="0 0 40 45" width="29" height="17")
                  use(xlink:href="/images/icons/sprite.svg#icon-sh")
      +post
      +slider

