@font-face
  font-family: 'intro'
  font-weight: normal
  font-style: normal
  text-rendering: optimizeLegibility;
  src: url('/fonts/intro.eot') format('embedded-opentype'), url('/fonts/intro.woff') format('woff'), url('/fonts/intro.ttf') format('truetype')
@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext)
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic)
