.wrappPhoto
  width: 100%
  background-image: url(/images/upload/B-Ty0pFIYAEUNgU.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center top
  p
    margin-top: 0

  .decription
    padding-top: rem-calc(376)
    padding-bottom: rem-calc(31)
    color: #fff
    .info
      margin: rem-calc(26px 0)
      display: flex
      flex-direction: flow
      align-items: center
      div
        display: flex
        align-items: center
      span
        margin-right: 14px

  .userInfo
    font-size: rem-calc(24)
    font-weight: 300
    line-height: rem-calc(24)
    margin-right: rem-calc(24)

  .icon-bnp
    display: inline-block
    margin: 0 14px

.social
  position: absolute
  right: rem-calc(24)

+breakpoint(medium)
  .wrappPhoto
    .decription
      padding-left: 140px
      h1
        width: 440px
    .userInfo
      font-size: 14px
    .userView
      svg
        width: 17px
        height: 9px
        opacity: .7
      span
        font-size: 14px
    .userComment
      svg
        width: 17px
        height: 15px
        opacity: .7
      span
        font-size: 14px
