@import variables
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
body, html
  margin: 0
  padding: 0

*
  outline: none
  box-sizing: border-box

html
  width: 100%
  height: 100%
  font-size: 16px
  font-family: $defaultFont
  color: $defaultColor
  font-weight: 400
  word-wrap: break-word
  overflow-wrap: break-word
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

body
  width: 100%
  height: 100%
  font-family: inherit
  color: inherit
  min-height: 100%
  height: auto
  max-width: 100%
  overflow-y: auto
  overflow-x: hidden

// html, body, .container, .content-wrap
//   overflow: hidden
//   width: 100%
//   height: 100%

p
  font-size: rem-calc(28)
  line-height: rem-calc(40)
  padding-top: rem-calc(20)
  &:first-child
    margin-top: 0

h1
  font-size: rem-calc(60)
  line-height: rem-calc(64)
  font-weight: 700
h4
  font-size: rem-calc(40)
  font-weight: 500
  line-height: rem-calc(36)

img
  height: auto
  -ms-interpolation-mode: bicubic
  display: inline-block
  vertical-align: middle

.content-wrapp
  padding: 0 30px

.flexBlock
  display: flex
  align-items: center
  width: 100%

.brendText
  font-family: $brendFont

@import _menu
@import partials/_header
@import partials/_footer
@import home

@import post
@import slider
