.post
  .postColor
    background-color: #f6f6f6
    padding-top: rem-calc(59)
    padding-bottom: rem-calc(49)
  .avatar
    justify-content: center
  .title
    margin-top: rem-calc(30)
    text-align: center
  .subtitle
    text-align: center
    margin-top: rem-calc(9)
    color: #666
    font-size: rem-calc(28)
    font-weight: 300
    line-height: rem-calc(38)

  .postContent
    //
  .brendText
    font-size: rem-calc(30)
    font-weight: 400
    line-height: rem-calc(40)